In [1]:
import pandas as pd
import numpy as np

In [2]:
transactions = pd.read_excel('../OneDrive_1_2024-2-19/transactions.xlsx')

In [3]:
transactions.columns

Index(['client_id', 'transaction_id', 'transaction_date', 'product_quantity',
       'gross_amount_euro', 'product_category', 'product_subcategory',
       'product_style'],
      dtype='object')

In [4]:
avg_expenditure = transactions.groupby('client_id').agg({'gross_amount_euro': 'mean'}).reset_index()

In [5]:
avg_expenditure.columns

Index(['client_id', 'gross_amount_euro'], dtype='object')

In [6]:
avg_expenditure['avg_gross_amount_euro'] = avg_expenditure['gross_amount_euro']

In [7]:
# normalize the gross_amount_euro column in 0 to 1 scale using something that makes sense
avg_expenditure['gross_amount_euro'] = (avg_expenditure['gross_amount_euro'] - avg_expenditure['gross_amount_euro'].mean()) / avg_expenditure['gross_amount_euro'].std()
avg_expenditure['gross_amount_euro'] = (avg_expenditure['gross_amount_euro'] - avg_expenditure['gross_amount_euro'].min()) / (avg_expenditure['gross_amount_euro'].max() - avg_expenditure['gross_amount_euro'].min())

In [8]:
avg_expenditure

       client_id  gross_amount_euro  avg_gross_amount_euro
0      c00029531           0.023684            2227.000000
1      c00055636           0.015247            1449.000000
2      c00068475           0.018592            1757.500000
3      c00089184           0.066355            6162.000000
4      c00091299           0.004706             477.000000
...          ...                ...                    ...
13879  c99976540           0.022466            2114.714286
13880  c99978675           0.034061            3184.000000
13881  c99989096           0.010204             984.000000
13882  c99995560           0.042108            3926.000000
13883  c99997359           0.011083            1065.000000

[13884 rows x 3 columns]

In [9]:
avg_expenditure.to_csv('../features/avg_expenditure.csv', index=False)