In [1]:
import pandas as pd
import numpy as np

In [2]:
transactions = pd.read_excel('../OneDrive_1_2024-2-19/transactions.xlsx')

In [3]:
frequent_transactions = transactions.groupby('client_id').size().reset_index(name='count')

In [4]:
frequent_transactions.rename(columns={'count': 'transaction_count'}, inplace=True)

In [5]:
frequent_transactions

       client_id  transaction_count
0      c00029531                  3
1      c00055636                  2
2      c00068475                  2
3      c00089184                  5
4      c00091299                  1
...          ...                ...
13879  c99976540                  7
13880  c99978675                  2
13881  c99989096                  1
13882  c99995560                  1
13883  c99997359                  1

[13884 rows x 2 columns]

In [6]:
frequent_transactions['frequency_score'] = (frequent_transactions['transaction_count'] - frequent_transactions['transaction_count'].mean()) / frequent_transactions['transaction_count'].std()
frequent_transactions['frequency_score'] = (frequent_transactions['frequency_score'] - frequent_transactions['frequency_score'].min()) / (frequent_transactions['frequency_score'].max() - frequent_transactions['frequency_score'].min())

In [7]:
frequent_transactions.sort_values(by='frequency_score', ascending=False, inplace=True)

In [8]:
frequent_transactions.reset_index(drop=True, inplace=True)

In [9]:
frequent_transactions

       client_id  transaction_count  frequency_score
0      c81328703                394         1.000000
1      c93212715                337         0.854962
2      c15284276                241         0.610687
3      c27492922                186         0.470738
4      c25819964                185         0.468193
...          ...                ...              ...
13879  c39067941                  1         0.000000
13880  c39073693                  1         0.000000
13881  c39077511                  1         0.000000
13882  c39085835                  1         0.000000
13883  c99997359                  1         0.000000

[13884 rows x 3 columns]

In [10]:
frequent_transactions.to_csv('../features/frequency_score.csv', index=False)