In [1]:
import pandas as pd
import numpy as np

In [2]:
transactions = pd.read_excel('../OneDrive_1_2024-2-19/transactions.xlsx')

In [3]:
transactions['transaction_date'] = pd.to_datetime(transactions['transaction_date'])
transactions = transactions.sort_values(by='transaction_date', ascending=True)

In [4]:
# keep only latest transaction for each customer
latest_transactions = transactions.drop_duplicates(subset='client_id', keep='last').copy()

In [5]:
# convert datetime to timestamp
latest_transactions['transaction_date'] = latest_transactions['transaction_date'].astype(np.int64) // 10**9

In [6]:
latest_transactions['recency_score'] = (latest_transactions['transaction_date']-latest_transactions['transaction_date'].mean())/latest_transactions['transaction_date'].std()
latest_transactions['recency_score'] = (latest_transactions['recency_score']-latest_transactions['recency_score'].min())/(latest_transactions['recency_score'].max()-latest_transactions['recency_score'].min())

In [7]:
latest_transactions.sort_values(by='recency_score', ascending=False, inplace=True)

In [8]:
latest_transactions.reset_index(drop=True, inplace=True)
latest_transactions[['client_id', 'recency_score']]

       client_id  recency_score
0      c29664181       1.000000
1      c63089531       1.000000
2      c92533582       1.000000
3      c86042783       1.000000
4      c18695149       0.999328
...          ...            ...
13879  c17772013       0.000672
13880  c23283658       0.000672
13881  c00822467       0.000672
13882  c36564816       0.000672
13883  c07185635       0.000000

[13884 rows x 2 columns]

In [9]:
latest_transactions[['client_id', 'recency_score']].to_csv('../features/recency_score.csv', index=False)